// Define variables for your color scheme

// For example:
$dark-blue: #0c2f39;
$blue: #155263;
$light-blue: #1e758d;
$yellow: #ffc93c;
$orange: #ffbb09;
$red: #FD1015;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
