<%= simple_form_for [@product, @booking] do |f| %>
  <%= f.input :start_date,
              as: :string,
              input_html: {data: {controller: "datepicker"}} %>
  <%= f.input :end_date,
              as: :string,
              input_html: {data: {controller: "datepicker"}} %>
  <div class="d-grid mt-4">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
