.booking-line {
  display: flex;
  align-items: center;
  border: 1px solid $light-gray;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.no-bs-validation {
  .is-valid, .is-invalid {
    border-color: $gray-400;
    background-image: inherit;
    &:focus {
      border-color: inherit;
      box-shadow: 0 0 0 .2rem $gray-400;
    }
  }
}

.no-bottom-margin {
  .is-valid, .is-invalid {
    margin-bottom: 0px;
  }
}
