#map {
  position: sticky;
  top: 0px;
  height: 100vh;
  margin-top: -30px;
}

.marker {
  background: $dark-blue;
  background-image: url('ski-icon.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid $dark-blue;
}
