.navbar-ski-rental {
  justify-content: space-between;
  background: white;
  height: 60px
}

.navbar-ski-rental .navbar-collapse {
  flex-grow: 0;
}

.navbar-ski-rental .navbar-brand img {
  height: 60px;
}
