.navbar-ski-rental {
  justify-content: space-between;
  background: white;
  height: 60px;
  margin-bottom: 30px;
}

.navbar-ski-rental .navbar-collapse {
  flex-grow: 0;
}

.navbar-ski-rental .navbar-brand img {
  height: 60px;
}

.user-name {
  color: $dark-blue;
  margin: 0px 8px 0px 0px;
  font-size: 14px;
  font-weight: bold;
}

.logout {
  color: $red !important;
  font-weight: bolder;
}
