.category-tag {
  border-radius: 20px;
  background-color: $light-blue;
  font-size: 12px;
  padding: 4px 12px;
  color: white;
  font-weight: bold;
  min-width: 60px;
  display: inline-block;
  text-align: center;
}

.status-tag {
  border-radius: 20px;
  background-color: $orange;
  font-size: 12px;
  padding: 4px 12px;
  color: white;
  font-weight: bold;
  min-width: 60px;
  display: inline-block;
  text-align: center;
}
