<div class="row">
  <div class="col-7">
    <div class="container" data-controller="search" data-search-index-value="<%= ENV['ALGOLIA_INDEX'] %>">
      <div id="searchbox"></div>
      <div id="hits"></div>
    </div>
  </div>

  <div class="col-5">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
