<h1>hello from index products</h1>
<div class="container">
<div class="row">


<% @products.each do |product| %>
<div class="card" style="width: 18rem;">
<div class="col-sm-6">
  <h3><%= product.name %></h3>
  <%= cl_image_tag(product.photo.key) %>
  <p><%= product.price_per_day %> euros per day</p>
  <%= link_to "See details", product_path(product) %>

</div>

</div>
<% end %>

</div>
</div>
</div>
