<div class="row">
  <div class="col-8">
    <div class="container" data-controller="search" data-search-index-value="<%= ENV['ALGOLIA_INDEX'] %>">
      <div class=search-menu>
        <div id="searchbox"></div>
        <div id="filter-list"></div>
        <div id="range-slider"></div>
      </div>
      <div id="hits"></div>
    </div>
  </div>

  <div class="col-4">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
